      .hovertxt{
      position:relative;
      padding:0;
      widows: 100%;;
      display:block;
      cursor:pointer;
      overflow:hidden;
      }
      .hovercontent {      
      opacity:0;
      font-size:17px;
      overflow:auto;
      position:absolute;
      top:2%;
      left:2%;
      right: 0;
      bottom: 2%;
      color:#ffffff;
      background-color:#008CBA;
      width:96%;
      height:72%;
      -webkit-transition: all 400ms ease-out;
      -moz-transition: all 400ms ease-out;
      -o-transition: all 400ms ease-out;
      -ms-transition: all 400ms ease-out;
      transition: all 400ms ease-out;
      text-align:center;
      }
      .hovertxt .hovercontent:hover { opacity:.9; }      
      .hovertxt .hovercontent .text {
      height:0;
      opacity:1;
      transition-delay: 0s;
      transition-duration: 0.4s;
      margin: 4%;
      }
      .hovertxt .hovercontent:hover .text {
      opacity:1;
      transform: translate(0px);
      -webkit-transform: translate(0px);
      
      }
